In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pylab import *
from seaborn import lmplot
from seaborn import distplot
from seaborn import boxplot

In [2]:
#carga datos generales
data = pd.ExcelFile('malla comparendos 2013 al 2020.xlsx')
data.sheet_names

['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013']

In [26]:
#carga runt
runtgeneral = pd.read_excel('runt.xlsx')

In [3]:
#inicia la separacion de todas las hojas de datos generales en varios df
sheet_to_df_map = {}
for nombre_hoja in data.sheet_names:
    sheet_to_df_map[nombre_hoja] = data.parse(nombre_hoja)

In [4]:
#separando las hojas en distintos df
df1 = sheet_to_df_map['2013']
df2 = sheet_to_df_map['2014']
df3 = sheet_to_df_map['2015']
df4 = sheet_to_df_map['2016']
df5 = sheet_to_df_map['2017']
df6 = sheet_to_df_map['2018']
df7 = sheet_to_df_map['2019']
df8 = sheet_to_df_map['2020']
len(df1),len(df2), len(df3),len(df4),len(df5),len(df6),len(df7),len(df8)

(58587, 46768, 43509, 47763, 49028, 58593, 62783, 8594)

In [22]:
totaldatos = len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8)
print(totaldatos)

375625

In [32]:
len(runtgeneral)

376209

In [33]:
diferencia = len(runtgeneral)-(len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8))
print(diferencia)

584

In [24]:
#verificando la cantidad de columnas que tiene cada df
pim1 = df1.columns.values.tolist()
pim2 = df1.columns.values.tolist()
pim3 = df1.columns.values.tolist()
pim4 = df1.columns.values.tolist()
pim5 = df1.columns.values.tolist()
pim6 = df1.columns.values.tolist()
pim7 = df1.columns.values.tolist()
pim8 = df1.columns.values.tolist()
len(pim1),len(pim2),len(pim3),len(pim4),len(pim5),len(pim6),len(pim7),len(pim8)

(57, 57, 57, 57, 57, 57, 57, 57)

In [25]:
#verificando que todos los df tengan los mismos nombres de columnas
pim9 = set(df1.columns.values).intersection(set(df2.columns.values))
pim10 = set(df1.columns.values).intersection(set(df3.columns.values))
pim11 = set(df1.columns.values).intersection(set(df4.columns.values))
pim12 = set(df1.columns.values).intersection(set(df5.columns.values))
pim13 = set(df1.columns.values).intersection(set(df6.columns.values))
pim14 = set(df1.columns.values).intersection(set(df7.columns.values))
pim15 = set(df1.columns.values).intersection(set(df8.columns.values))
len(pim9),len(pim10),len(pim11),len(pim12),len(pim13),len(pim14),len(pim15)

(57, 57, 57, 57, 57, 57, 57)

In [20]:
#ya sabemos que todos los df tienen los mismos nombres de columnas
df1.columns

Index(['numero comparendo', 'tipoc omparendo', 'fecha imposicion',
       'hora imposicion', 'fecha notificacion', 'direccion infraccion',
       'ciudad', 'infraccion', 'cepo', 'metrolinea', 'chaleco', 'casco',
       'pico y placa', 'resolucion_111', 'licencia transito', 'tipo documento',
       'documento', 'inmovilizado', 'grua', 'usuario', 'placaagente',
       'entidad', 'nombre agente', 'estado', 'tipo resolucion',
       'numero resolucion', 'fecha resolucion', 'fecha pago', 'fecha acuerdo',
       'placa vehiculo', 'primer nombre', 'segundo nombre', 'primer apellido',
       'segundo apellido', 'celular', 'direccion infractor', 'nombre',
       'valor comparendo', 'saldo', 'valor pagado', 'curso', 'tipo curso',
       'grado', 'clase vehiculo', 'tipo servicio', 'fecha ingreso patio',
       'entregado patio', 'fecha entrega patio', 'cargo salida patio',
       'funcionario salida patio', 'fecha solicitud audiencia',
       'fecha audiencia', 'asistencia audiencia', 'inspeccion audiencia',
       'funcionario audiencia', 'licencia suspendida', 'licencia cancelada'],
      dtype='object')

In [41]:
#concatenando todos los df en uno solo
#forma de concatenar 1 por 1 para pcs mas lentos todavia: df1.append(df2, ignore_index = True)
todogeneral = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=0, ignore_index = True)

In [42]:
#cambiando los nombres de todas las columnas de dfs de datos generales
todogeneral.columns=['ncomp','tcomp','fcomp','hcomp','fnotifi','dirinfrac','ciudad','infrac','cepo','metro','chale','casco','pico','resolu111','licencia','tipodoc','ncedula','inmobi','grua','usuario','placaa','entidad','nomagen','estado','tiresol','nresol','fresol','fpago','facuerdo','placa','primnom','segnom','primapell','segapell','cel','dirinfractor','name','valorcomp','saldo','valpag','curso','ticurso','grado','clasvehicu','classervicio','fingrepatio','entrepatio','fentrepatio','cargsalipatio','funciosalipatio','fsolaudien','faudien','asistenaudien','inspeccaudien','funcioaudien','licensuspen','licencance']

In [43]:
#cambiando los nombres de todas las columnas del runt
runtgeneral.columns=['placa','ncomp','tcomp','docinfrac','cedulainfrac','docprop','cedulaprop','estado','dircasainfrac','municasainfrac','depcasainfrac','celinfrac','dircasaprop','municasaprop','depcasaprop','celprop']

In [44]:
#eliminando na de las columnas que vamos a escoger
primnomsna= todogeneral["primnom"].fillna(value="")
primapellna = todogeneral["primapell"].fillna(value="")
segapellna = todogeneral["segapell"].fillna(value="")
todogeneral["dirinfractor"] = todogeneral["dirinfractor"].fillna(value="")
todogeneral["dirinfrac"] = todogeneral["dirinfrac"].fillna(value="")
todogeneral["fcomp"] = todogeneral["fcomp"].fillna(value=0)
todogeneral["hcomp"] = todogeneral["hcomp"].fillna(value=0)
todogeneral["valorcomp"] = todogeneral["valorcomp"].fillna(value=0)
todogeneral["valpag"] = todogeneral["valpag"].fillna(value=0)
todogeneral["cel"] = todogeneral["cel"].fillna(value=0)
todogeneral["ncedula"] = todogeneral["ncedula"].fillna(value=0)
todogeneral["placa"] = todogeneral["placa"].fillna(value=0)

runtgeneral["cedulainfrac"] = runtgeneral["cedulainfrac"].fillna(value=0)
runtgeneral["cedulaprop"] = runtgeneral["cedulaprop"].fillna(value=0)
runtgeneral["placa"] = runtgeneral["placa"].fillna(value=0)
runtgeneral["dircasainfrac"] = runtgeneral["dircasainfrac"].fillna(value="")
runtgeneral["dircasaprop"] = runtgeneral["dircasaprop"].fillna(value="")
runtgeneral["celinfrac"] = runtgeneral["celinfrac"].fillna(value=0)
runtgeneral["celprop"] = runtgeneral["celprop"].fillna(value=0)

In [45]:
todogeneral["nameapell"] = primnomsna.astype(str)+" "+ primapellna.astype(str)+ " " + segapellna.astype(str)

In [46]:
personacomp = pd.DataFrame({"nombres":todogeneral["nameapell"],"cedula":todogeneral["ncedula"],
                            "placa":todogeneral["placa"],"dircasainfractor":todogeneral["dirinfractor"],
                            "dirinfraccion":todogeneral["dirinfrac"],"fechacomp":todogeneral["fcomp"],
                            "horacomp":todogeneral["hcomp"],"valorcomp":todogeneral["valorcomp"],
                            "valorpaga":todogeneral["valpag"],"celinfractor":todogeneral["cel"]})
personarunt = pd.DataFrame({"placa":runtgeneral["placa"],"cedulainfractor":runtgeneral["cedulainfrac"],
                            "cedulapropietario":runtgeneral["cedulaprop"],"dircasainfractor":runtgeneral["dircasainfrac"],
                            "dircasapropietario":runtgeneral["dircasaprop"],"celinfractor":runtgeneral["celinfrac"],
                            "celpropietario":runtgeneral["celprop"]})


personacomp['frecuencianombre'] = personacomp['nombres'].map(personacomp['nombres'].value_counts()) 
personacomp['frecuenciaplacacomp'] = personacomp['placa'].map(personacomp['placa'].value_counts())
personarunt['frecuenciaplacarunt'] = personarunt['placa'].map(personarunt['placa'].value_counts())
personarunt['freqcedulainfractor'] = personarunt['cedulainfractor'].map(personarunt['cedulainfractor'].value_counts())
personarunt['freqcedulapropietario'] = personarunt['cedulapropietario'].map(personarunt['cedulapropietario'].value_counts())

In [47]:
filtrocomp = personacomp[(personacomp["frecuenciaplacacomp"]>2)]
len(filtrocomp)

147683

In [55]:
filtrocomp.frecuenciaplacacomp.describe()

count    147683.000000
mean          5.219931
std           6.588651
min           3.000000
25%           3.000000
50%           4.000000
75%           5.000000
max         142.000000
Name: frecuenciaplacacomp, dtype: float64

In [54]:
personacreducida = pd.DataFrame({"placa":filtrocomp['placa'],"cedulamalla":filtrocomp['cedula'],
                                 "nombres":filtrocomp['nombres'],"fecha":filtrocomp['fechacomp']})

personarreducida = pd.DataFrame({"placa":personarunt['placa'],"cedulainfractor":personarunt['cedulainfractor'],
                                 "cedulapropietario":personarunt['cedulapropietario']})
len(personacreducida),len(personarreducida)

(147683, 376209)

In [53]:
intersect = personacreducida.merge(personarreducida, how='inner')
len(intersect)

771620

In [52]:
intersect[(intersect["cedulapropietario"]!=0)]

,placa,cedulamalla,nombres,fecha,cedulainfractor,cedulapropietario
1,OEP70B,9.12425e+07,CARLOS RODRIGUEZ SEPULVEDA,2013-01-01,91242453,91233395
2,OEP70B,9.12425e+07,CARLOS RODRIGUEZ SEPULVEDA,2013-01-01,91242453,91233395
3,OEP70B,9.12425e+07,CARLOS RODRIGUEZ SEPULVEDA,2013-01-01,91242453,91233395
5,OEP70B,9.12425e+07,CARLOS RODRIGUEZ SEPULVEDA,2013-01-01,91242453,91233395
6,OEP70B,9.12425e+07,CARLOS RODRIGUEZ SEPULVEDA,2013-01-01,91242453,91233395
...,...,...,...,...,...,...
771599,EMB37F,1098717939,JESUS LEON MONSALVE,2020-01-31,1098717939,10986457
771600,EMB37F,1098717939,JESUS LEON MONSALVE,2020-01-31,1098717939,10986457
771601,EMB37F,1098717939,JESUS LEON MONSALVE,2020-01-31,1098717939,10986457
771602,EMB37F,1098717939,JESUS LEON MONSALVE,2020-01-31,1098717939,10986457
771603,EMB37F,1098717939,JESUS LEON MONSALVE,2020-01-31,1098717939,10986457

In [ ]:
df['count_B']=df.groupby(['group1','group2']).B.transform('count')