In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from pylab import *
from seaborn import lmplot
from seaborn import distplot
from seaborn import boxplot

In [5]:
#carga datos generales
data = pd.ExcelFile('malla comparendos 2013 al 2020.xlsx')
data.sheet_names

['2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013']

In [6]:
#carga runt
runtgeneral = pd.read_excel('runt.xlsx')

In [7]:
#inicia la separacion de todas las hojas de datos generales en varios df
sheet_to_df_map = {}
for nombre_hoja in data.sheet_names:
    sheet_to_df_map[nombre_hoja] = data.parse(nombre_hoja)

In [8]:
#separando las hojas en distintos df
df1 = sheet_to_df_map['2013']
df2 = sheet_to_df_map['2014']
df3 = sheet_to_df_map['2015']
df4 = sheet_to_df_map['2016']
df5 = sheet_to_df_map['2017']
df6 = sheet_to_df_map['2018']
df7 = sheet_to_df_map['2019']
df8 = sheet_to_df_map['2020']
len(df1),len(df2), len(df3),len(df4),len(df5),len(df6),len(df7),len(df8)

(58587, 46768, 43509, 47763, 49028, 58593, 62783, 8594)

In [9]:
totaldatos = len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8)
print(totaldatos)

375625

In [10]:
len(runtgeneral)

376209

In [11]:
diferencia = len(runtgeneral)-(len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8))
print(diferencia)

584

In [12]:
#verificando la cantidad de columnas que tiene cada df
pim1 = df1.columns.values.tolist()
pim2 = df1.columns.values.tolist()
pim3 = df1.columns.values.tolist()
pim4 = df1.columns.values.tolist()
pim5 = df1.columns.values.tolist()
pim6 = df1.columns.values.tolist()
pim7 = df1.columns.values.tolist()
pim8 = df1.columns.values.tolist()
len(pim1),len(pim2),len(pim3),len(pim4),len(pim5),len(pim6),len(pim7),len(pim8)

(57, 57, 57, 57, 57, 57, 57, 57)

In [13]:
#verificando que todos los df tengan los mismos nombres de columnas
pim9 = set(df1.columns.values).intersection(set(df2.columns.values))
pim10 = set(df1.columns.values).intersection(set(df3.columns.values))
pim11 = set(df1.columns.values).intersection(set(df4.columns.values))
pim12 = set(df1.columns.values).intersection(set(df5.columns.values))
pim13 = set(df1.columns.values).intersection(set(df6.columns.values))
pim14 = set(df1.columns.values).intersection(set(df7.columns.values))
pim15 = set(df1.columns.values).intersection(set(df8.columns.values))
len(pim9),len(pim10),len(pim11),len(pim12),len(pim13),len(pim14),len(pim15)

(57, 57, 57, 57, 57, 57, 57)

In [14]:
#ya sabemos que todos los df tienen los mismos nombres de columnas
df1.columns

Index(['numero comparendo', 'tipoc omparendo', 'fecha imposicion',
       'hora imposicion', 'fecha notificacion', 'direccion infraccion',
       'ciudad', 'infraccion', 'cepo', 'metrolinea', 'chaleco', 'casco',
       'pico y placa', 'resolucion_111', 'licencia transito', 'tipo documento',
       'documento', 'inmovilizado', 'grua', 'usuario', 'placaagente',
       'entidad', 'nombre agente', 'estado', 'tipo resolucion',
       'numero resolucion', 'fecha resolucion', 'fecha pago', 'fecha acuerdo',
       'placa vehiculo', 'primer nombre', 'segundo nombre', 'primer apellido',
       'segundo apellido', 'celular', 'direccion infractor', 'nombre',
       'valor comparendo', 'saldo', 'valor pagado', 'curso', 'tipo curso',
       'grado', 'clase vehiculo', 'tipo servicio', 'fecha ingreso patio',
       'entregado patio', 'fecha entrega patio', 'cargo salida patio',
       'funcionario salida patio', 'fecha solicitud audiencia',
       'fecha audiencia', 'asistencia audiencia', 'inspeccion audiencia',
       'funcionario audiencia', 'licencia suspendida', 'licencia cancelada'],
      dtype='object')

In [15]:
#concatenando todos los df en uno solo
#forma de concatenar 1 por 1 para pcs mas lentos todavia: df1.append(df2, ignore_index = True)
todogeneral = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=0, ignore_index = True)

In [16]:
#cambiando los nombres de todas las columnas de dfs de datos generales
todogeneral.columns=['ncomp','tcomp','fcomp','hcomp','fnotifi','dirinfrac','ciudad','infrac','cepo','metro','chale','casco','pico','resolu111','licencia','tipodoc','ncedula','inmobi','grua','usuario','placaa','entidad','nomagen','estado','tiresol','nresol','fresol','fpago','facuerdo','placa','primnom','segnom','primapell','segapell','cel','dirinfractor','name','valorcomp','saldo','valpag','curso','ticurso','grado','clasvehicu','classervicio','fingrepatio','entrepatio','fentrepatio','cargsalipatio','funciosalipatio','fsolaudien','faudien','asistenaudien','inspeccaudien','funcioaudien','licensuspen','licencance']
#cambiando los nombres de todas las columnas del runt
runtgeneral.columns=['placa','ncomp','tcomp','docinfrac','cedulainfrac','docprop','cedulaprop','estado','dircasainfrac','municasainfrac','depcasainfrac','celinfrac','dircasaprop','municasaprop','depcasaprop','celprop']

In [18]:
#eliminando na de las columnas que vamos a escoger
primnomsna= todogeneral["primnom"].fillna(value="")
primapellna = todogeneral["primapell"].fillna(value="")
segapellna = todogeneral["segapell"].fillna(value="")
todogeneral["dirinfractor"] = todogeneral["dirinfractor"].fillna(value="")
todogeneral["dirinfrac"] = todogeneral["dirinfrac"].fillna(value="")
todogeneral["clasvehicu"] = todogeneral["clasvehicu"].fillna(value="")
todogeneral["fcomp"] = todogeneral["fcomp"].fillna(value=0)
todogeneral["hcomp"] = todogeneral["hcomp"].fillna(value=0)
todogeneral["valorcomp"] = todogeneral["valorcomp"].fillna(value=0)
todogeneral["valpag"] = todogeneral["valpag"].fillna(value=0)
todogeneral["cel"] = todogeneral["cel"].fillna(value=0)
todogeneral["ncedula"] = todogeneral["ncedula"].fillna(value=0)
todogeneral["placa"] = todogeneral["placa"].fillna(value=0)

runtgeneral["cedulainfrac"] = runtgeneral["cedulainfrac"].fillna(value=0)
runtgeneral["cedulaprop"] = runtgeneral["cedulaprop"].fillna(value=0)
runtgeneral["placa"] = runtgeneral["placa"].fillna(value=0)
runtgeneral["dircasainfrac"] = runtgeneral["dircasainfrac"].fillna(value="")
runtgeneral["dircasaprop"] = runtgeneral["dircasaprop"].fillna(value="")
runtgeneral["celinfrac"] = runtgeneral["celinfrac"].fillna(value=0)
runtgeneral["celprop"] = runtgeneral["celprop"].fillna(value=0)

In [19]:
todogeneral["nameapell"] = primnomsna.astype(str)+" "+ primapellna.astype(str)+ " " + segapellna.astype(str)

In [20]:
personacomp = pd.DataFrame({"nombres":todogeneral["nameapell"],"cedula":todogeneral["ncedula"],
                            "placa":todogeneral["placa"],"dircasainfractor":todogeneral["dirinfractor"],
                            "dirinfraccion":todogeneral["dirinfrac"],"fechacomp":todogeneral["fcomp"],
                            "horacomp":todogeneral["hcomp"],"valorcomp":todogeneral["valorcomp"],
                            "valorpaga":todogeneral["valpag"],"celinfractor":todogeneral["cel"],"tipovehicu":todogeneral["clasvehicu"]})
personarunt = pd.DataFrame({"placa":runtgeneral["placa"],"cedulainfractor":runtgeneral["cedulainfrac"],
                            "cedulapropietario":runtgeneral["cedulaprop"],"dircasainfractor":runtgeneral["dircasainfrac"],
                            "dircasapropietario":runtgeneral["dircasaprop"],"celinfractor":runtgeneral["celinfrac"],
                            "celpropietario":runtgeneral["celprop"]})


personacomp['frecuencianombre'] = personacomp['nombres'].map(personacomp['nombres'].value_counts()) 
personacomp['frecuenciaplacacomp'] = personacomp['placa'].map(personacomp['placa'].value_counts())
personarunt['frecuenciaplacarunt'] = personarunt['placa'].map(personarunt['placa'].value_counts())
personarunt['freqcedulainfractor'] = personarunt['cedulainfractor'].map(personarunt['cedulainfractor'].value_counts())
personarunt['freqcedulapropietario'] = personarunt['cedulapropietario'].map(personarunt['cedulapropietario'].value_counts())

In [52]:
strplaca = todogeneral["placa"]
strplaca2 = runtgeneral["placa"]
personacomp['placa'] = strplaca.astype(str)
personarunt['placa'] = strplaca.astype(str)

In [240]:
personacg1 = pd.DataFrame({"cedulamalla":todogeneral["ncedula"],"placa":personacomp['placa'],"tipovehi":personacomp['tipovehicu']})
personarg1 = pd.DataFrame({"placa":personarunt['placa'],"cedulapropietario":personarunt['cedulapropietario']})

In [98]:
#carros
personacg1.loc[personacg1['tipovehi'] == 'Automovil', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Camioneta', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Campero', 'tipovehi'] = 'carro'

#motos
personacg1.loc[personacg1['tipovehi'] == 'Bicicleta', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Cuatrimoto', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Motocarro', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Motocicleta', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Mototriciclo', 'tipovehi'] = 'moto'

#vehiculos pesados
personacg1.loc[personacg1['tipovehi'] == 'Bus', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'Buseta', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'Camión', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'MAQ. CONSTRUCCION O MINERA', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'MicroBus', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'Tractocamión', 'tipovehi'] = 'vehiculo-pesado'
personacg1.loc[personacg1['tipovehi'] == 'Volqueta', 'tipovehi'] = 'vehiculo-pesado'

#sin clase
personacg1.loc[personacg1['tipovehi'] == '', 'tipovehi'] = 'sin'
personacg1.loc[personacg1['tipovehi'] == 'SIN CLASE', 'tipovehi'] = 'sin'

In [99]:
grupocomp = personacg1.groupby(["cedulamalla", "placa","tipovehi"]).size().reset_index(name='npartescedula')

In [100]:
grupocomp['nceduladistin'] = grupocomp['placa'].map(grupocomp['placa'].value_counts())
grupocomp['ncedularep'] = grupocomp['cedulamalla'].map(grupocomp['cedulamalla'].value_counts())

In [110]:
filtro2 = grupocomp[(grupocomp["placa"]!="SIN") & (grupocomp["ncedularep"]>2) & (grupocomp["ncedularep"]!=3589) & (grupocomp["cedulamalla"]!=1)
                   & (grupocomp["cedulamalla"]!=10) & (grupocomp["cedulamalla"]!=11) & (grupocomp["cedulamalla"]!=111) & (grupocomp["cedulamalla"]!=1023)
                    & (grupocomp["cedulamalla"]!=1111) & (grupocomp["cedulamalla"]!=1234) & (grupocomp["cedulamalla"]!=0) & (grupocomp["placa"]!="")
                    ]
filtro2

        cedulamalla   placa tipovehi  npartescedula  nceduladistin  ncedularep
18353        171194  HXY608    carro              1              1           3
18354        171194  JHS657    carro              1              1           3
18355        171194  MAZ335    carro              1              1           3
18480        345965  TTV665    carro              1              1           3
18481        345965  XMC241    carro              1              2           3
...             ...     ...      ...            ...            ...         ...
281078  9.91008e+10  HBD068    carro              1              3           3
281079  9.91008e+10  OHR54C     moto              1              1           3
281136  9.91112e+10  BTH170    carro              1              2           3
281137  9.91112e+10  ICH703    carro              2              2           3
281138  9.91112e+10  PYV73C     moto              2              1           3

[43846 rows x 6 columns]

In [107]:
filtro2.ncedularep.describe()

count    43846.000000
mean       612.940998
std       1636.928590
min          3.000000
25%          3.000000
50%          3.000000
75%          5.000000
max       5111.000000
Name: ncedularep, dtype: float64

In [116]:
gruporunt = personarg1.groupby(["cedulapropietario", "placa"]).size().reset_index(name='npartescedula')

In [117]:
gruporunt['nceduladistin'] = gruporunt['placa'].map(gruporunt['placa'].value_counts())
gruporunt['ncedularep'] = gruporunt['cedulapropietario'].map(gruporunt['cedulapropietario'].value_counts())

In [152]:
filtro3 = gruporunt[((gruporunt["ncedularep"]>2)
                     )]
filtro3

       cedulapropietario   placa  npartescedula  nceduladistin  ncedularep
0                      0       0             22             66       57512
1                      0      35              2              1       57512
2                      0  394AAC              1              1       57512
3                      0  517ADP              1              1       57512
4                      0  546ADP              1              1       57512
...                  ...     ...            ...            ...         ...
365146       99121306545  ISG77D              1              1           3
365147       99121306545  UBP91D              1             12           3
365153          ILEGIBLE  BUD409              1              1           3
365154          ILEGIBLE  DVL12B              1              1           3
365155          ILEGIBLE  MPV438              1              4           3

[184492 rows x 5 columns]

In [241]:
#carros
personacg1.loc[personacg1['tipovehi'] == 'Automovil', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Camioneta', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Campero', 'tipovehi'] = 'carro'

#motos
personacg1.loc[personacg1['tipovehi'] == 'Bicicleta', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Cuatrimoto', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Motocarro', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Motocicleta', 'tipovehi'] = 'moto'
personacg1.loc[personacg1['tipovehi'] == 'Mototriciclo', 'tipovehi'] = 'moto'

#vehiculos pesados
personacg1.loc[personacg1['tipovehi'] == 'Bus', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Buseta', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Camión', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'MAQ. CONSTRUCCION O MINERA', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'MicroBus', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Tractocamión', 'tipovehi'] = 'carro'
personacg1.loc[personacg1['tipovehi'] == 'Volqueta', 'tipovehi'] = 'carro'

#sin clase
personacg1.loc[personacg1['tipovehi'] == '', 'tipovehi'] = 'sin'
personacg1.loc[personacg1['tipovehi'] == 'SIN CLASE', 'tipovehi'] = 'sin'

In [243]:
filtroantes = personacg1[(personacg1["placa"]!="SIN") & (personacg1["cedulamalla"]!=1)& (personacg1["cedulamalla"]!=2)
                    & (personacg1["cedulamalla"]!=4)& (personacg1["cedulamalla"]!=21)& (personacg1["cedulamalla"]!=1098)& (personacg1["cedulamalla"]!=1102)
                    & (personacg1["cedulamalla"]!=1110)& (personacg1["cedulamalla"]!=5112)& (personacg1["cedulamalla"]!=10967)& (personacg1["cedulamalla"]!=10987)
                    & (personacg1["cedulamalla"]!=12345)& (personacg1["cedulamalla"]!=13845)& (personacg1["cedulamalla"]!=14109)& (personacg1["cedulamalla"]!=17526)
                    & (personacg1["cedulamalla"]!=33786)& (personacg1["cedulamalla"]!=38654)& (personacg1["cedulamalla"]!=47628)& (personacg1["cedulamalla"]!=60315)
                    & (personacg1["cedulamalla"]!=62353)& (personacg1["cedulamalla"]!=63348)& (personacg1["cedulamalla"]!=70718)& (personacg1["cedulamalla"]!=70851)
                    & (personacg1["cedulamalla"]!=72000)& (personacg1["cedulamalla"]!=72403)& (personacg1["cedulamalla"]!=74287)& (personacg1["cedulamalla"]!=77546)
                    & (personacg1["cedulamalla"]!=79034)& (personacg1["cedulamalla"]!=82102)& (personacg1["cedulamalla"]!=91183)& (personacg1["cedulamalla"]!=91518)
                   & (personacg1["cedulamalla"]!=10) & (personacg1["cedulamalla"]!=11) & (personacg1["cedulamalla"]!=111) & (personacg1["cedulamalla"]!=1023)
                    & (personacg1["cedulamalla"]!=1111) & (personacg1["cedulamalla"]!=1234) & (personacg1["cedulamalla"]!=0) & (personacg1["placa"]!="")
                    ]
filtroantes

        cedulamalla   placa tipovehi
0       9.12425e+07  OEP70B     moto
1       9.12425e+07  OEP70B     moto
2       9.12063e+07  KBO798    carro
3       1.38038e+07  ZGO441    carro
4       9.15001e+07  DKZ102    carro
...             ...     ...      ...
375620   1098618008  GKV419    carro
375621     13748929  LIZ73D     moto
375622   1101686392  EOQ442    carro
375623     13246428  BZX47F     moto
375624   1098817292  MAT75B     moto

[355664 rows x 3 columns]

In [244]:
x = filtroantes.merge(personarg1, how='inner')

In [255]:
grupocomp2 = x.groupby(["cedulamalla", "placa","tipovehi","cedulapropietario"]).size().reset_index(name='npartescedula')
grupocomp2

       cedulamalla   placa tipovehi cedulapropietario  npartescedula
0           108468  CWW189    carro          91216688              1
1           109578   IQP55     moto          63365143              1
2           109578   IQP55     moto        1098640120              1
3           109932  RBI68B     moto          27894877              1
4           111111  IMP82C     moto                 0              1
...            ...     ...      ...               ...            ...
561509   XDC741673       0     moto        1098801840              1
561510   XDC741673       0     moto        1099370251              1
561511   XDC741673       0     moto        1100967522              1
561512   XDC741673       0     moto        1102364744              1
561513   XDC741673       0     moto        8902004634              1

[561514 rows x 5 columns]

In [251]:
grupocomp2['ncedulapropietariorep'] = grupocomp2['cedulapropietario'].map(grupocomp2['cedulapropietario'].value_counts())
grupocomp2['nceduladistintas'] = grupocomp2['placa'].map(grupocomp2['placa'].value_counts())
grupocomp2['ncedularep'] = grupocomp2['cedulamalla'].map(grupocomp2['cedulamalla'].value_counts())
grupocomp2

,cedulamalla,placa,tipovehi,cedulapropietario,npartesplaca,ncedulapropietariorep,nceduladistintas,ncedularep
0,108468,CWW189,carro,91216688,1,90,1,1
1,109578,IQP55,moto,63365143,1,3,4,2
2,109578,IQP55,moto,1098640120,1,2,4,2
3,109932,RBI68B,moto,27894877,1,6,1,1
4,111111,IMP82C,moto,0,1,81408,9,6
...,...,...,...,...,...,...,...,...
561509,XDC741673,0,moto,1098801840,1,74,4884,66
561510,XDC741673,0,moto,1099370251,1,74,4884,66
561511,XDC741673,0,moto,1100967522,1,78,4884,66
561512,XDC741673,0,moto,1102364744,1,74,4884,66
561513,XDC741673,0,moto,8902004634,1,114,4884,66

In [257]:
grupocomp2[((grupocomp2["cedulapropietario"]==10959268)
                     )]

        cedulamalla   placa tipovehi cedulapropietario  npartescedula
1050    1.11419e+06  KBL308    carro          10959268              2
81595   1.92521e+07  FMH777    carro          10959268              1
102999  4.15651e+07  FMH777    carro          10959268              2
119711  6.35066e+07  FHC09C     moto          10959268              1
198761  9.12675e+07  IDB967    carro          10959268              2
229563  9.14722e+07  SPA92E     moto          10959268              1
231862  9.14755e+07  IDB967    carro          10959268             10
231868  9.14755e+07  IDB967     moto          10959268              2
274817   9.1539e+07  FMH777    carro          10959268              1
310039  1.09017e+09  AKO61C     moto          10959268              1
359295  1.09595e+09  SPA92E     moto          10959268              1
437552  1.09871e+09  AKO61C     moto          10959268              3

In [217]:
personarunt[((personarunt['placa']=="QZZ94B"))]

,placa,cedulainfractor,cedulapropietario,dircasainfractor,dircasapropietario,celinfractor,celpropietario,frecuenciaplacarunt,freqcedulainfractor,freqcedulapropietario
111486,QZZ94B,80179159,52933998,CR81A #80 71 BOGOTA,VDA SAN LORENZO,0,3134163552,4,4,4
120641,QZZ94B,91078897,91078897,circn 36a n. 104-128,MNZ. H CASA 43 PASEO GALICIA,3112250615,0,1,4,1
128554,QZZ94B,91185929,37620121,,CLL 6 # 8 59 EL CENTRO,0,3163376097,2,2,1
142994,QZZ94B,91248295,91248295,PARQUE SAN REMO CASA 129,PARQUE SAN REMO CASA 129,6304429,0,5,5,5